.user {
  max-width: 640px;
}
.user__field-row {
  margin-top: 10px;
  display: flex;
  padding: 5px;
}
@media (max-width: 375px) {
  .user__field-row {
    flex-direction: column;
  }
}
.user__field-cell {
  width: 100%;
}
@media (max-width: 375px) {
  .user__field-cell {
    margin: 0 0 10px 0;
    padding-bottom: 5px;
  }
}
.user__field-cell--left {
  margin-right: 10px;
}
.user__calendar {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
